{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% translate "Coordinates Form" %} {% endblock title%}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block content %}
    <h1>Enter Latitude and Longitude</h1>
    <form method="post">
        {% csrf_token %}
        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" name="latitude" required><br><br>
        <label for="longitude">Longitude:</label>
        <input type="text" id="longitude" name="longitude" required><br><br>
        <button type="submit">Submit</button>
    </form>

{% endblock content %}
