{% extends 'base.html' %}
{% load i18n %}


{% block title %} {% translate "Privacy" %} {% endblock title%}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block content %}
<main>
    <section class="header">
        <div>
            <div class="header__left"></div>
            <h1 class="header__title">{% translate "Privacy (Stand" %} 2025-07-11)</h1>
            <div class="header__back"></div>
        </div>
    </section>
    <section class="standard-layout">
        <div>
            <div class="row">
                <div class="col">
                    <h2>{% translate "I. Name and address of the responsible person" %}</h2>
                    <p>{% translate "The responsible party within the meaning of the General Data Protection Regulation and other national data protection laws of the member states as well as other data protection provisions is the:" %}</p>

                    <p>
                        {% translate "Reiner Lemoine Institute gGmbH" %}<br>
                        Rudower Chaussee 12<br>
                        {% translate "Entrance D" %}<br>
                        12489 Berlin<br>
                        {% translate "Telephone: +49 (0)30 1208 434 0" %}<br>
                        Telefax: +49 (0)30 1208 434 99<br>
                        {% translate "Website" %}: <a href="https://reiner-lemoine-institut.de/">https://reiner-lemoine-institut.de/</a>
                    </p>

                    <h2>{% translate "II. Data Protection Officer" %}</h2>
                    <p>{% translate "Since the type and scope of data processing at RLI do not meet the criteria set out in Article 37 (1) of the GDPR and Section 38 (1) sentence 1 of the new BDSG, no data protection officer has been appointed." %} </p>

                    <h2>{% translate "III. General information on data processing" %}</h2>
                    <h3>{% translate "1. Scope of the processing of personal data" %}</h3>
                    <p> {% blocktrans %}We process personal data of our users only insofar as this is necessary for the provision of a functional website and our content and services. The processing of personal data of our users takes place regularly only after consent of the user. An exception applies in those cases where it is not possible to obtain prior consent for technical reasons and the processing of the data is permitted by legal regulations. {% endblocktrans %}</p>

                    <h3>{% translate "2. Legal basis for the processing of personal data" %}</h3>
                    <p>{% blocktrans %}Insofar as we obtain the consent of the data subject for processing operations involving personal data, Art. 6 (1) lit. a of the EU General Data Protection Regulation (GDPR) serves as the legal basis.
                        When processing personal data that is necessary for the performance of a contract to which the data subject is a party, Art. 6 (1) lit. b of the GDPR serves as the legal basis. This also applies to processing operations that are necessary for the performance of pre-contractual measures.
                        In the event that vital interests of the data subject or another natural person make it necessary to process personal data, Art. 6 (1) lit. d GDPR serves as the legal basis.
                        If the processing is necessary to protect a legitimate interest of our company or a third party and the interests, fundamental rights and freedoms of the data subject do not override the former interest, Art. 6 (1) lit. f DSGVO serves as the legal basis for the processing.{% endblocktrans %} </p>

                    <h3>{% translate "3. Data deletion and storage duration" %}</h3>
                    <p>{% blocktrans %}The personal data of the data subject shall be deleted or blocked as soon as the purpose of storage ceases to apply. Storage may also take place if this has been provided for by the European or national legislator in Union regulations, laws or other provisions to which the responsible party is subject. Data will also be blocked or deleted if a storage period prescribed by the aforementioned standards expires, unless there is a need for further storage of the data for the conclusion or performance of a contract.{% endblocktrans %}</p>

                    <h2>{% translate "IV. Provision of the website and creation of log files" %}</h2>
                    <h3>{% translate "1. Description and scope of data processing" %}</h3>
                    <p>{% translate "Each time our website is accessed, our system automatically collects data and information from the computer system of the accessing computer. The following data is collected: " %}</p>

                    <ol>
                        <li>{% translate "Information about the browser type and version used" %}</li>
                        <li>{% translate "The operating system of the user" %}</li>
                        <li>{% translate "The Internet service provider of the user" %}</li>
                        <li>{% translate "The IP address of the user" %}</li>
                        <li>{% translate "Date and time of access" %}</li>
                        <li>{% translate "Websites from which the user's system accesses our Internet site" %}</li>
                        <li>{% translate "Websites that are called up by the user's system via our website" %}</li>
                    </ol>

                    <p>{% translate "The data is also stored in the log files of our system. A storage of this data together with other personal data of the user does not take place." %} </p>

                    <h3>{% translate "2. Legal basis for data processing" %} </h3>
                    <p>{% translate "The legal basis for the temporary storage of the data and the log files is Art. 6 para. 1 lit. f GDPR." %} </p>

                    <h3>{% translate "3. Purpose of data processing" %}</h3>
                    <p>{% blocktrans %}The temporary storage of the IP address by the system is necessary to enable delivery of the website to the user's computer. For this purpose, the user's IP address must remain stored for the duration of the session.
                        The storage in log files is done to ensure the functionality of the website. In addition, we use the data to optimize the website and to ensure the security of our information technology systems. An evaluation of the data for marketing purposes does not take place in this context.
                        These purposes are also our legitimate interest in data processing according to Art. 6 para. 1 lit. f GDPR.{% endblocktrans %}</p>

                    <h3>{% translate "4. Duration of storage" %}</h3>
                    <p>{% blocktrans %}The data is deleted as soon as it is no longer required to achieve the purpose for which it was collected. In the case of the collection of data for the provision of the website, this is the case,when the respective session is finished.
                        In the case of storage of data in log files, this is the case after seven days at the latest. Storage beyond this period is possible. In this case, the IP addresses of the users are deleted or alienated, so that an assignment of the calling client is no longer possible.{% endblocktrans %} </p>

                    <h3>{% translate "5. Possibility of objection and removal" %}</h3>
                    <p>{% translate "The collection of data for the provision of the website and the storage of the data in log files is absolutely necessary for the operation of the website. Consequently, there is no possibility of objection on the part of the user." %} </p>

                    <h2>{% translate "V. Rights of the data subject" %}</h2>
                    <h3>{% translate "1. Right to information" %}</h3>
                    <p>{% blocktrans %}You may request confirmation from the party responsible as to whether personal data concerning you is being processed by us.
                        If there is such processing, you may request information from the responsible party about the following: {% endblocktrans %}</p>

                    <ol>
                        <li>{% translate "the purposes for which the personal data are processed;" %}</li>
                        <li>{% translate "the categories of personal data which are processed;" %}</li>
                        <li>{% translate "the recipients or categories of recipients to whom the personal data concerning you have been or will be disclosed;" %}</li>
                        <li>{% translate "the planned duration of the storage of the personal data concerning you or, if specific information on this is not possible, criteria for determining the storage duration;" %}</li>
                        <li>{% translate "the existence of a right to rectification or erasure of personal data concerning you, a right to restriction of processing by the responsible party or a right to object to such processing;" %}</li>
                        <li>{% translate "the existence of a right of appeal to a supervisory authority;" %}</li>
                        <li>{% translate "any available information on the origin of the data, if the personal data are not collected from the data subject;" %}</li>
                        <li>{% blocktrans %}the existence of automated decision-making, including profiling, pursuant to Article 22(1) and (4) of the GDPR and, at least in these cases, meaningful information about the logic involved and the scope and intended effects of such processing for the data subject.{% endblocktrans %}</li>
                    </ol>

                    <p>{% blocktrans %}You have the right to request information about whether the personal data concerning you is transferred to a third country or to an international organization. In this context, you may request to be informed about the appropriate safeguards pursuant to Art. 46 GDPR in connection with the transfer.
                        This right to information may be restricted to the extent that it is likely to make it impossible or seriously impair the realization of research purposes and the restriction is necessary for the fulfillment of the research purposes.{% endblocktrans %} </p>

                    <h3>{% translate "2. Right to rectification" %} </h3>
                    <p>{% blocktrans %}You have a right to rectification and/or completion vis-à-vis the responsible party, insofar as the processed personal data concerning you are inaccurate or incomplete. The responsible party shall carry out the rectification immediately.
                        Your right to rectification may be limited to the extent that it is likely to make impossible or seriously impair the achievement of research purposes and the limitation is necessary for the fulfillment of the research purposes.{% endblocktrans %}</p>

                    <h3>{% translate "3. Right to restriction of processing" %}</h3>
                    <p>{% translate "Under the following conditions, you may request the restriction of the processing of personal data concerning you: " %}</p>
                    <ol>
                        <li>{% translate "if you contest the accuracy of the personal data concerning you for a period enabling the resposible party to verify the accuracy of the personal data;" %}</li>
                        <li>{% translate "the processing is unlawful and you object to the erasure of the personal data and request instead the restriction of the use of the personal data;" %}</li>
                        <li>{% translate "the resposible party no longer needs the personal data for the purposes of processing, but you need them for the assertion, exercise or defense of legal claims, or" %}</li>
                        <li>{% translate "if you have objected to the processing pursuant to Art. 21 (1) GDPR and it has not yet been determined whether the responsible party's legitimate grounds override your grounds." %}</li>
                    </ol>

                    <p>{% blocktrans %}Where the processing of personal data concerning you has been restricted, such data may be processed, with the exception of their storage, only with your consent or for the establishment, exercise or defense of legal claims or for the protection of the rights of another natural or legal person or for reasons of important public interest of the Union or a Member State.{% endblocktrans %} </p>
                    <p>{% blocktrans %}If the restriction of processing has been restricted in accordance with the above conditions, you will be informed by the controller before the restriction is lifted.
                        Your right to restrict processing may be limited to the extent that it is likely to render impossible or seriously impair the achievement of research purposes and the restriction is necessary for the fulfillment of the research purposes.{% endblocktrans %} </p>

                    <h3>{% translate "4. Right to deletion" %}</h3>
                    <h4>{% translate "a) Obligation to delete" %}</h4>
                    <p>{% translate "You may request the controller to delete the personal data concerning you without undue delay, and the responsible party is obliged to delete such data without undue delay, if one of the following reasons applies:" %} </p>
                    <ol>
                        <li>{% translate "The personal data concerning you are no longer necessary for the purposes for which they were collected or otherwise processed." %}</li>
                        <li>{% translate "You revoke your consent on which the processing was based pursuant to Art. 6 para. 1 lit. a or Art. 9 para. 2 lit. a GDPR and there is no other legal basis for the processing." %}</li>
                        <li>{% blocktrans %}You object to the processing pursuant to Art. 21 (1) GDPR and there are no overriding legitimate grounds for the processing, or you object to the processing pursuant to Art. 21 para. 2 GDPR. You object to the processing pursuant to Art. 21 para. 1 GDPR and there are no overriding legitimate grounds for the processing, or you object to the processing pursuant to Art. 21 para. 2 GDPR.{% endblocktrans %}</li>
                        <li>{% translate "The personal data concerning you has been processed unlawfully." %}</li>
                        <li>{% translate "The deletion of the personal data concerning you is necessary for compliance with a legal obligation under Union or Member State law to which the controller is subject." %}</li>
                        <li>{% translate "The personal data concerning you has been collected in relation to information society services offered pursuant to Article 8 para. 1 GDPR." %}</li>
                    </ol>

                    <h4>{% translate "b) Information to third parties" %}</h4>
                    <p>{% blocktrans %}If the responsible party has made the personal data concerning you public and is obliged to erase it pursuant to Article 17(1) of the GDPR, it shall take reasonable steps, including technical measures, having regard to the available technology and the cost of implementation, to inform the party responsible for  processing the personal data that you, as the data subject, have requested that they erase all links to or copies or replications of such personal data.{% endblocktrans %} </p>

                    <h4>{% translate "c) Exceptions" %}</h4>
                    <p>{% translate "The right to erasure does not exist insofar as the processing is necessary to" %}</p>
                    <ol>
                        <li>{% translate "to exercise the right to freedom of expression and information;" %}</li>
                        <li>{% blocktrans %}for compliance with a legal obligation which requires processing under Union or Member State law to which the controller is subject, or for the performance of a task carried out in the public interest or in the exercise of official authority vested in the resposible party;{% endblocktrans %}</li>
                        <li>{% translate "or reasons of public interest in the area of public health pursuant to Art. 9(2)(h) and (i) and Art. 9(3) DSGVO;" %}</li>
                        <li>{% blocktrans %} for archiving purposes in the public interest, scientific or historical research purposes, or statistical purposes pursuant to Article 89 para. 1 GDPR, insofar as the right referred to in section a) is likely to render impossible or seriously prejudice the achievement of the purposes of such processing, or{% endblocktrans %}</li>
                        <li>{% translate "for the assertion, exercise or defense of legal claims." %}</li>
                    </ol>

                    <h3>{% translate "5. Right to information" %}</h3>
                    <p>{% blocktrans %}If you have asserted the right to rectification, erasure or restriction of processing against the responsible party, the latter is obliged to inform all recipients to whom the personal data concerning you have been disclosed of this rectification or erasure of the data or restriction of processing, unless this proves impossible or involves a disproportionate effort.
                        You have the right to be informed about these recipients by the responsible party. {% endblocktrans %}</p>

                    <h3>{% translate "6. Right to data portability" %}</h3>
                    <p>{% blocktrans %} You have the right to receive the personal data concerning you that you have provided to the responsible party in a structured, common and machine-readable format. In addition, you have the right to transmit this data to another responsible party without hindrance by the responsible party to whom the personal data has been provided, provided that{% endblocktrans %}</p>
                    <ol>
                        <li>{% translate "the processing is based on consent pursuant to Art. 6 para. 1 lit. a GDPR or Art. 9 para. 2 lit. a GDPR or on a contract pursuant to Art. 6 para. 1 lit. b GDPR and" %}</li>
                        <li>{% translate "the processing is carried out with the help of automated procedures." %}</li>
                    </ol>

                    <p>{% blocktrans %} In exercising this right, you also have the right to have the personal data concerning you transferred directly from one responsible party to another responsible party, insofar as this is technically feasible. The freedoms and rights of other persons must not be affected by this.
                        The right to data portability does not apply to processing of personal data necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the responsible party. {% endblocktrans %}</p>

                    <h3>{% translate "7. Right of objection" %}</h3>
                    <p>{% blocktrans %}You have the right to object at any time, on grounds relating to your particular situation, to the processing of personal data concerning you which is carried out on the basis of Article 6 para. 1 lit. e or f of the GDPR; this also applies to profiling based on these provisions.
                         The responsible party shall no longer process the personal data concerning you unless it can demonstrate compelling legitimate grounds for the processing which override your interests, rights and freedoms, or the processing serves the purpose of asserting, exercising or defending legal claims.
                         If the personal data concerning you is processed for the purposes of direct marketing, you have the right to object at any time to the processing of personal data concerning you for the purposes of such marketing; this also applies to profiling, insofar as it is related to such direct marketing.
                         If you object to the processing for direct marketing purposes, the personal data concerning you will no longer be processed for these purposes.
                         You have the possibility, in connection with the use of information society services, notwithstanding Directive 2002/58/EC, to exercise your right to object by means of automated procedures using technical specifications.
                         You also have the right to object, on grounds relating to your particular situation, to the processing of personal data concerning you which is carried out for scientific or historical research purposes or for statistical purposes pursuant to Article 89 para. 1 GDPR.
                         Your right to object may be limited to the extent that it is likely to make impossible or seriously impair the achievement of the research or statistical purposes and the limitation is necessary for the fulfillment of the research or statistical purposes.{% endblocktrans %} </p>

                    <h3>{% translate "8. Right to revoke the declaration of consent under data protection law" %}</h3>
                    <p>{% translate "You have the right to revoke your declaration of consent under data protection law at any time. The revocation of consent does not affect the lawfulness of the processing carried out on the basis of the consent before the revocation." %} </p>

                    <h3>{% translate "9. Automated decision in individual cases including profiling" %}</h3>
                    <p>{% translate "You have the right not to be subject to a decision based solely on automated processing - including profiling - which produces legal effects concerning you or similarly significantly affects you. This does not apply if the decision" %} </p>
                    <ol>
                        <li>{% translate "is necessary for the conclusion or performance of a contract between you and the responsible party," %}</li>
                        <li>{% translate "is permitted by legislation of the Union or the Member States to which the responsible party is subject and that legislation contains appropriate measures to safeguard your rights and freedoms and your legitimate interests, or" %}</li>
                        <li>{% translate "is done with your express consent." %}</li>
                    </ol>

                    <p>{% blocktrans %}However, these decisions may not be based on special categories of personal data pursuant to Art. 9 para. 1 GDPR, unless Art. 9 para. 2 lit. a or g GDPR applies and appropriate measures have been taken to protect the rights and freedoms, as well as your legitimate interests.
                        With regard to the cases mentioned in (1) and (3), the responsible party shall take reasonable measures to safeguard the rights and freedoms as well as your legitimate interests, including at least the right to obtain the intervention of a person on the part of the responsible party, to express his or her point of view and to contest the decision.{% endblocktrans %} </p>

                    <h3>{% translate "10. Right to complain to a supervisory authority" %}</h3>
                    <p>{% blocktrans %}Without prejudice to any other administrative or judicial remedy, you have the right to lodge a complaint with a supervisory authority, in particular in the Member State of your residence, place of work or the place of the alleged infringement, if you consider that the processing of personal data relating to you infringes the GDPR.
                       The supervisory authority to which the complaint has been submitted shall inform the complainant of the status and outcome of the complaint, including the possibility of a judicial remedy under Article 78 of the GDPR.{% endblocktrans %} </p>

                    <h3>{% translate "Validity of the privacy policy" %}</h3>
                    <p>{% translate "We reserve the right to change or adapt this privacy statement from time to time. This statement was last modified on" %} 2025-07-11</p>
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock content %}
